@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: lato;
  src: url("../public/font/lato2.woff2") format("woff2");
}

* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  scrollbar-width: thin;
  scrollbar-color: #9333ea transparent;
}

html {
  overflow-x: hidden;
  scroll-behavior: smooth;
}
body {
  font-family: lato;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 400;
  overflow-x: hidden;
  background: rgb(29, 28, 28);
  background-image: url("./assets/bgblend.webp"),
    linear-gradient(to bottom, rgba(0, 0, 0, 0.9), rgba(0, 0, 0, 0.9));
  background-blend-mode: overlay;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  color: white;
}
.blob {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 400px;
  border-radius: 100%;
  background-image: linear-gradient(#8d4aea 10%, #8630ff);
  filter: blur(250px);
  transition: all 450ms ease-out;
  position: fixed;
  pointer-events: none;
  left: 0;
  top: 0;
  transform: translate(calc(-50% + 15px), -50%);
  z-index: -1;
  display: none;
}
nav ul li .active span {
  background: #8d4aea;
  scale: 1.1;
}
@media (max-width: 786px) {
  body {
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    color: white;
  }
}
main {
  display: flex;
  justify-content: center;
  align-items: center;
}
main > div {
  /* padding: 2rem; */
  max-width: 1500px;
}
.project-temp {
  max-width: 1500px;
}

@media (min-width: 1025px) {
  .blob {
    display: block;
  }
}
@media (min-width: 1024px) and (max-width: 1130px) {
  .profilecard,
  .project-side-card {
    position: fixed;
    top: 0%;
    left: 3%;
  }
  main > div {
    padding: 2rem;
  }
}
@media (min-width: 1130px) and (max-width: 1500px) {
  .profilecard,
  .project-side-card {
    position: fixed;
    top: 0%;
    left: 5%;
  }
  main > div {
    padding: 2rem;
  }
}
@media (min-width: 1500px) and (max-width: 2000px) {
  .profilecard,
  .project-side-card {
    position: fixed;
    top: 0%;
    left: 10%;
  }
  main > div {
    padding: 2rem;
  }
}
